@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4b5563;
}

svg {
    width: 30px;
    height: auto;

}

input {
    outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}

.icon {
    width: 30px;
    height: auto;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* .icon path {
    fill: lightblue;
    stroke:red;
} */

/* -----------------------main-------------------------------- */
main {
    display: grid;
    max-width: 1591px;
    margin: 0 auto;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    grid-auto-rows: 1fr;
    box-shadow:  0 10px 20px rgba(107, 114, 128, 0.25);
    /* grid-auto-columns: 1fr; */
}



/* ----------Header------------------------------------------- */
header {
    background-color: #fafafa;
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 1.2rem 1.5rem;
}

.header-section-one,
.header-section-two {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}


.search-field {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 60%;
    position: relative;
}
.search-field input {
    width: clamp(200px, 60%, 500px);
    height: 2rem;
    border-radius: 15px;
    background-color:#e2e8f0 ;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: border-bottom 0.3s ease, background-color 0.3s ease; /* Added background transition */
    position: relative;
    z-index: 1;
    
}

.search-field input:focus {
    background-color: #FFFFFF;
    border: 1px solid #6b7280;
}
.title-field {
    width: 30%;
}
.title-field ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}
.title-field ul>li:first-child {
    padding-right: 1.2rem;
} 

.header-two {
    gap: 2rem;
}
.header-two .logo-img svg {
    width: 60px;
   
}
.header-two,
.title-field ul,
.header-menu ul {
    display: flex;

}
.title-two h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.header-menu ul {
    gap: 1.5rem;
    padding:1rem 1rem ;
}
.header-menu ul li {
    padding: 0.5rem 1.8rem;
    background-color: #0284c7;
    color: #fafafa;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: 400;
}
.header-menu ul li:hover {
    background-color:#075985 ;
}

/* ------------Dashboard-------------------------------------- */
.dashboard {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0284c7;
    color: #fafafa;
    padding: 1.5rem 1rem;


}

.logo-container {
    grid-row: 1/2;
    display: flex;
    gap: 1.5rem;
    align-items: end;
    padding-bottom: 2rem;

}

.logo-container>svg {
    width: 50px;
    height: auto;
}
.logo-container>svg path {
    fill: #fafafa;
}


.dash__item-one,
.dash__item-two {
    display: flex;

}

.dash__item-one>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: start;
    padding-bottom: 5rem;
}

.dash__item-one>ul>li i,
.dash__item-two>ul>li i {
    padding-right: 1rem;
}

.dash__item-two>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: start;
}


/* --------------Content Section ---------------------------- */
.content-section {
    background-color: #e2e8f0;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding: 0 1rem;



}

.project-section, .news-section {
    padding: 1.2rem 1.5rem;
}

.project-section>h3, .announcements-section>h3, .trending-section>h3 {
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.cards-section {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    /* grid-template-rows: repeat(auto-fill,minmax(16rem,1fr)); */
    gap: 1rem;
    /* grid-auto-rows: minmax(213px,1fr); */
  

}

.card {
    background-color: #fafafa;
    padding: 1.5rem 1rem;
    box-shadow: -6px 0 #eab308, 0 10px 20px rgba(107, 114, 128, 0.25);
    border-radius: 5px;

}

.card>h4 {
    font-size: 1.2rem;

}

.card>p {
    font-weight: 500;
    color: #6b7280;
    font-size: 0.9rem;
    padding: 1rem 0;
}

.card-icons {
    display: flex;
    gap: 0.8rem;
    justify-content: end;
}

.card-icons img {
    width: 1.4rem;
    height: auto;
}

.news-cards {
    background-color: #fafafa;
    padding: 1.5rem 1rem;
    box-shadow:  0 10px 20px rgba(107, 114, 128, 0.25);
    border-radius: 5px;

}
.news-cards h5 {
    font-size: 0.99rem;
    padding-bottom:0.4rem ;
}
.anmc-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.anmc-card:first-child {
    padding-top: 0;
}
.anmc-card:last-child{
    padding-bottom: 0;
}
.anmc-card:not(:last-child) {
    border-bottom: 1px solid #d1d5db ;
}
.anmc-card>p {
    font-weight: 500;
    color: #6b7280;
    font-size: 0.8rem ;
}

.trending-section {
    padding: 4rem 0;
}

.trending-cards {
    background-color: #fafafa;
    padding: 1.5rem 1rem;
    box-shadow: 0 10px 20px rgba(107, 114, 128, 0.25);
    border-radius: 5px;
}
.trending-cards ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.trending-cards li {
    display: flex;
    gap: 1rem;
}

.user-name span {
    display: block;
}
.user-name span:first-child {
    padding-bottom:0.1rem ;
}


/* ---------Media queries------------ */

@media (max-width: 1160px) {
     main {
    grid-template-rows: 1fr 6fr;
   }
   
    .content-section {
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(auto-fill,1fr) */
    /* grid-auto-rows: minmax(1fr); */
    grid-template-rows: auto auto;
   }

   .content-section, .project-section,
     .news-section {
        height: auto; /* or set a specific height */
    }
    .project-section {
        grid-row: 1/2;
    }
    .cards-section {
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
    grid-auto-rows: minmax(1fr);
    padding: 1.2rem 1.5rem;
    }
   .news-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }
   .trending-section {
    padding-top: 0;
   }
   .trending-section ul li {
    padding-bottom: 0.438rem;
   }
  }
  